* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#container {
  margin-inline: auto;
  max-width: 720px;
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-size: 2rem;
  margin-block-start: 1rem;
}
h2 {
  font-size: 1.5rem;
  margin-block-start: 1rem;
}
h3 {
  display: flex;
  justify-content: space-between;
}
h3 .css-name {
  display: inline-block;
  font-weight: bolder;
  margin-block-start: 1rem;
}
h3 .css-name::before {
  content: "{ ";
}
h3 .css-name::after {
  content: " }";
}
h3 .css-desc {
  display: inline-block;
  margin-right: 0;
}
b {
  font-weight: bolder;
}
.demo {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.demo-box {
  padding: 1rem;
  min-width: 0;
}
textarea {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}